#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.md' do
  filter :kramdown, auto_ids: false, enable_coderay: false
  filter :google_code_prettify_kramdown
  layout '/default.*'
end

compile '/**/*.org' do
  filter :pandoc, args: [{ from: :org, to: :html, wrap: :none }]
  filter :google_code_prettify_pandoc
  layout '/default.*'
end

route '/**/*.{html,md,org}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
