#!/usr/bin/env ruby

compile '/**/feed.xml' do
  filter :erb
  write item.identifier.to_s
end

compile '/**/*.html' do
  filter :erb
  layout '/default.*'
end

compile '/posts/*.md' do
  filter :kramdown, auto_ids: false, enable_coderay: false
  filter :google_code_prettify_kramdown
  layout '/post.*'

  date = Time.parse(item[:created_at])
  y, m, d = date.year, date.month, date.day
  slug = File.basename(item.identifier, ".md")
  write "/#{y}/#{'%02d' % m}/#{'%02d' % d}/#{slug}/index.html"
end

compile '/posts/*.org' do
  filter :pandoc, args: [{ from: :org, to: :html, wrap: :none }]
  filter :google_code_prettify_pandoc
  layout '/post.*'

  date = Time.parse(item[:created_at])
  y, m, d = date.year, date.month, date.day
  slug = File.basename(item.identifier, ".org")
  write "/#{y}/#{'%02d' % m}/#{'%02d' % d}/#{slug}/index.html"
end

route '/**/*.html' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
