<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= @item[:title] %></title>
        <link rel="icon" type="image/png" href="https://emacs-china.org/uploads/default/original/1X/477ac7ed14175dfd2deb65ee3c3d83d18a8906b8.ico">
        <link href=<%= relative_path_to("/") + "feed.xml" %> rel="alternate" type="application/atom+xml">
    </head>
    <body>
        <div>
            <%= link_to("首页", relative_path_to("/"))  %>
        </div>
        <div id="content">
            <%= yield %>
        </div>
    </body>
</html>
